
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Radial Quad.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Radial Quad.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Radial Double.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Radial Double.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Diagonal.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Diagonal.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Circle.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Wipe Pattern - Circle.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Text Overflow - Linked Text UI Screenshot.png.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Text Overflow - Linked Text UI Screenshot.png
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Text Overflow - Linked Text Image 1.png.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Text Overflow - Linked Text Image 1.png
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Sunny Days - Seamless.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Sunny Days - Seamless.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_normal.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_normal.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_diffuse.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_diffuse.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Mask Zig-n-Zag.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Mask Zig-n-Zag.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Vertical (Color).jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Vertical (Color).jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Horizontal (Color).jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Horizontal (Color).jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Diagonal (Color).jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Diagonal (Color).jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Fruit Jelly (B&W).jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Fruit Jelly (B&W).jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Floor Tiles 1 - diffuse.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Floor Tiles 1 - diffuse.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Floor Cement.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Floor Cement.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Brushed Metal 3.jpg.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures/Brushed Metal 3.jpg
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Textures.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Sprites/DropCap Numbers.psd.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Sprites/DropCap Numbers.psd
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Sprites/Default Sprites.png.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Sprites/Default Sprites.png
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Sprites.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/WarpTextExample.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/WarpTextExample.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexZoom.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexZoom.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeB.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeB.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeA.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeA.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexJitter.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexJitter.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexColorCycler.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/VertexColorCycler.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMPro_InstructionOverlay.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMPro_InstructionOverlay.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_UiFrameRateCounter.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_UiFrameRateCounter.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_B.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_B.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_A.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_A.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextInfoDebugTool.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextInfoDebugTool.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventHandler.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventHandler.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventCheck.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventCheck.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_PhoneNumberValidator.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_PhoneNumberValidator.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_FrameRateCounter.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_FrameRateCounter.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_ExampleScript_01.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_ExampleScript_01.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_DigitValidator.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_DigitValidator.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshSpawner.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshSpawner.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshProFloatingText.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshProFloatingText.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextConsoleSimulator.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TextConsoleSimulator.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TeleType.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/TeleType.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/SkewTextExample.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/SkewTextExample.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/SimpleScript.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/SimpleScript.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ShaderPropAnimator.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ShaderPropAnimator.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ObjectSpin.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ObjectSpin.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/EnvMapAnimator.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/EnvMapAnimator.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/DropdownSample.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/DropdownSample.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ChatController.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/ChatController.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/CameraController.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/CameraController.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark04.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark04.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark03.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark03.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark02.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark02.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01_UGUI.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01_UGUI.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01.cs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01.cs
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scripts.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/Benchmark (Floating Text).unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/Benchmark (Floating Text).unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/26 - Dropdown Placeholder Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/26 - Dropdown Placeholder Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/25 - Sunny Days Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/25 - Sunny Days Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/24 - Surface Shader Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/24 - Surface Shader Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/23 - Animating Vertex Attributes.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/23 - Animating Vertex Attributes.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/22 - Basic Scripting Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/22 - Basic Scripting Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/21 - Script Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/21 - Script Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/20 - Input Field with Scrollbar.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/20 - Input Field with Scrollbar.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/19 - Masking Texture & Soft Mask.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/19 - Masking Texture & Soft Mask.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/18 - ScrollRect & Masking & Layout.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/18 - ScrollRect & Masking & Layout.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/17 - Old Computer Terminal.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/17 - Old Computer Terminal.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/16 - Linked text overflow mode example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/16 - Linked text overflow mode example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/15 - Inline Graphics & Sprites.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/15 - Inline Graphics & Sprites.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/14 - Multi Font & Sprites.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/14 - Multi Font & Sprites.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/13 - Soft Hyphenation.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/13 - Soft Hyphenation.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/12a - Text Interactions.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/12a - Text Interactions.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/12 - Link Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/12 - Link Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/11 - The Style Tag.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/11 - The Style Tag.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/10 - Bullets & Numbered List Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/10 - Bullets & Numbered List Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/09 - Margin Tag Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/09 - Margin Tag Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/08 - Improved Text Alignment.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/08 - Improved Text Alignment.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/07 - Superscript & Subscript Example.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/07 - Superscript & Subscript Example.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/06 - Extra Rich Text Examples.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/06 - Extra Rich Text Examples.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/05 - Style Tags.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/05 - Style Tags.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/04 - Word Wrapping.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/04 - Word Wrapping.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/03 - Line Justification.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/03 - Line Justification.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/02 - Multi-line TextMesh Pro.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/02 - Multi-line TextMesh Pro.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/01-  Single Line TextMesh Pro.unity.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes/01-  Single Line TextMesh Pro.unity
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Scenes.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets/DropCap Numbers.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets/DropCap Numbers.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets/Default Sprite Asset.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets/Default Sprite Asset.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF - Surface.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF - Surface.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF - Drop Shadow.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF - Drop Shadow.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Oswald Bold SDF.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Oswald Bold SDF.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Soft Mask.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Soft Mask.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Overlay.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Overlay.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Metalic Green.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/LiberationSans SDF - Metalic Green.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Electronic Highway Sign SDF.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Electronic Highway Sign SDF.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF Logo.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF Logo.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF Glow.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF Glow.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF - Outline.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF - Outline.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF - Drop Shadow.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Bangers SDF - Drop Shadow.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Sunny Days.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Sunny Days.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Outline.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Outline.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Drop Shadow.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Anton SDF - Drop Shadow.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Yellow to Orange - Vertical.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Yellow to Orange - Vertical.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Light to Dark Green - Vertical.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Light to Dark Green - Vertical.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Dark to Light Green - Vertical.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Dark to Light Green - Vertical.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Blue to Purple - Vertical.asset.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets/Blue to Purple - Vertical.asset
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources/Color Gradient Presets.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Resources.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/TextMeshPro - Prefab 2.prefab.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/TextMeshPro - Prefab 2.prefab
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/TextMeshPro - Prefab 1.prefab.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/TextMeshPro - Prefab 1.prefab
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/Text Popup.prefab.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs/Text Popup.prefab
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Prefabs.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Small Crate_diffuse.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Small Crate_diffuse.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Ground - Surface Shader Scene.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Ground - Surface Shader Scene.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Ground - Logo Scene.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Ground - Logo Scene.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Crate - Surface Shader Scene.mat.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials/Crate - Surface Shader Scene.mat
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Materials.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Roboto-Bold.ttf.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Roboto-Bold.ttf
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Oswald-Bold.ttf.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Oswald-Bold.ttf
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Oswald-Bold - OFL.txt.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Oswald-Bold - OFL.txt
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Electronic Highway Sign.TTF.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Electronic Highway Sign.TTF
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Bangers.ttf.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Bangers.ttf
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Bangers - OFL.txt.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Bangers - OFL.txt
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Anton.ttf.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Anton.ttf
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Anton OFL.txt.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts/Anton OFL.txt
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras/Fonts.meta
ReadingFact\!/Assets/TextMesh Pro/Examples & Extras.meta
